<!DOCTYPE html>
<html lang="en">
		<head>
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<title>TM dept., BPL div.</title>
				<link href="css/bootstrap.css" type="text/css" rel="stylesheet">
				<style type="text/css" rel="stylesheet">
						
						* {
								font-family: consolas;
							}
							
						#navbar {
							background-color: rgb(40,204,154);
							display: block;
							width: 100%;
							position: fixed;
							top:0px;
							z-index: 1;
							text-align: center;
						}	
						#form {
							position: absolute;
							top: 20%;
						}
						
						h2 {
							margin-top: .7%;
						}
						
						h4 {
							color: red;
						}
						
						input, select, textarea {
							border-radius: 5px;
							border-width: 1px;
							border-color: grey;
							margin-right: 10px;
						}
						
				</style>
							
				<script type="text/javascript">
						window.onload = function (){
							var date = document.getElementById("date");
							
							for(var i=1; i<32; i++){
								date.innerHTML += "<option>"+ i + "</option>";
							}
							
							for(var x=0; x<24; x++){
								document.getElementById("hour1").innerHTML += "<option>"+ x + "</option>";
								document.getElementById("hour2").innerHTML += "<option>"+ x + "</option>";
							}
							
							for(var y=0; y<60; y++){
								document.getElementById("minute1").innerHTML += "<option>"+ y + "</option>";
								document.getElementById("minute2").innerHTML += "<option>"+ y + "</option>";
							}
							
						}
						
				</script>
		</head>
		<body>
				<div id="navbar">
						<h2><%= machine_data.machine_name %></h2>	
				</div>
				
				<form action="/machine_data" method="POST" class="container text-center" id="form">
						
						<div class="row">
							<div class="col-xs-12 col-md-3 col-md-offset-2 text-center">
									<kbd>Date</kbd> 
							</div>
							<select name="date" class="col-xs-3 col-xs-offset-3 col-md-1" id="date"></select><div class="col-xs-3 col-md-1" id="month"><%= machine_data.month_name %></div>
						</div>
						<br>
						<div class="row">
								<div class="col-xs-12 col-md-3 col-md-offset-2">
											<kbd>Line</kbd>
								</div>
								<select name="line">
									<option value="UP">UP</option>
									<option value="DOWN">DOWN</option>
									<option value="MIDDLE">MIDDLE</option>
								</select>
						</div>
						
						<div class="row">
							<h4 class="col-xs-12 col-md-12"><b>Section</b></h4>
							<div class="col-xs-12 col-md-3 col-md-offset-2">
									<kbd>Starting - Ending</kbd>
							</div><input value="<%= machine_data.section_starting %>" type="text" name="section_starting" class="col-xs-3 col-xs-offset-3 col-md-1" maxlength="4"><input value="<%= machine_data.section_ending %>" type="text" name="section_ending" class="col-xs-3 col-md-1" maxlength="4">
						</div>
						<br>
						
						<div class="row">
							<div class="col-xs-12 col-md-3 col-md-offset-2">
									<kbd>Starting Time</kbd>
							</div>
							<select name="starting_hour" class="col-xs-3 col-xs-offset-3 col-md-1" id="hour1"></select>
							<select name="starting_minute" class="col-xs-3 col-md-1" id="minute1"></select>
						</div>
						<br>
						
						<div class="row">
							<div class="col-xs-12 col-md-3 col-md-offset-2">
									<kbd>Ending Time</kbd>
							</div>
							<select name="ending_hour" class="col-xs-3 col-xs-offset-3 col-md-1" id="hour2"></select>
							<select name="ending_minute" class="col-xs-3 col-md-1" id="minute2"></select>
						</div>
						<br>
						
						<div class="row">
							<h4 class="col-xs-12 col-md-12"><b>Progress</b></h4>
							<div class="col-xs-12 col-md-3 col-md-offset-2">
									<kbd>from - to ( pole )</kbd>
							</div><input value="<%= machine_data.from_pole %>" type="text" name="from_pole" class="col-xs-3 col-xs-offset-3 col-md-1" maxlength="7"><input value="<%= machine_data.to_pole %>" type="text" name="to_pole" class="col-xs-3 col-md-1" maxlength="7">
						</div>
						
						<br>
						<div class="row">
							<div class="col-xs-12 col-md-3 col-md-offset-2">
									<kbd>from - to</kbd>
							</div><input value="<%= machine_data.from %>" type="text" name="from" class="col-xs-3 col-xs-offset-3 col-md-1" maxlength="7"><input value="<%= machine_data.to %>" type="text" name="to" class="col-xs-3 col-md-1" maxlength="7">
						</div>
						<br>
						<div class="row">
							<div class="col-xs-12 col-md-3 col-md-offset-2">
									<kbd>Length</kbd>
							</div>
							<input value="<%= machine_data.length %>" type="text" name="length" class="col-xs-3 col-xs-offset-3 col-md-1" maxlength="2"><div class="col-xs-1 col-md-1" style="color:orange">in KMs</div>
						</div>
						<br>
						<div class="row">
								<h4 class="col-xs-12 col-md-12"><b>Failure</b></h4>
								
								<div class="col-xs-12 col-md-3 col-md-offset-2">
											<kbd>Failure (if any)</kbd>
								</div>
								<select name="failure">
									<option value="no">No</option>
									<option value="yes">Yes</option>
								</select>
						</div>
							<br>
						<div class="row">
								<div class="col-xs-12 col-md-3 col-md-offset-2">
											<kbd>Remark??</kbd>
						</div>
						<input value="<%= machine_data.remark %>" type="text" name="remark" class="col-xs-6 col-xs-offset-3 col-md-3">
								
						</div>
							<br>
							<div class="row">
											<input type="submit" value="submit" id="submit" class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5">
							</div>
				</form>
		</body>
</html>